config:
  core.https_address: ip_add:8443
  core.trust_password: true
networks:
- config:
    bridge.hwaddr: 00:16:3e:a1:a2:a3
    ipv4.address: 10.205.172.1/24
    ipv4.nat: "true"
    ipv6.address: fd42:2c15:68be:30b4::1/64
    ipv6.nat: "true"
  description: ""
  name: lxdbr0
  type: bridge
  project: default
storage_pools:
- config:
    source: /dev/vdc
    volatile.initial_source: /dev/vdc
  description: ""
  name: default
  driver: btrfs
profiles:
- config: {}
  description: Default LXD profile
  devices:
    eth0:
      name: eth0
      network: lxdbr0
      security.ipv4_filtering: "true"
      security.ipv6_filtering: "true"
      security.mac_filtering: "true"
      security.port_isolation: "true"
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: container
- config: {}
  description: Default LXD profile
  devices:
    eth0:
      name: eth0
      network: lxdbr0
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: default
- config:
    user.user-data: |
      ssh_pwauth: yes
      users:
        - name: coder
          passwd: $6$cvPx25uaHvVc8z$IYXYZQsey4svKQ6z9oextx5R.13zuQtjZMdIJyBGKK5gTze3VxcJeU05HfHuGOXOI9DbbaJp9Un0jweY1mBv2/
          lock_passwd: false
          groups: lxd
          shell: /bin/bash
          sudo: ALL=(ALL) NOPASSWD:ALL
  description: default profile for playground virtual machine instance
  devices:
    config:
      source: cloud-init:config
      type: disk
    enp5s0:
      name: enp5s0
      network: lxdbr0
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: virtualmachine
  used_by: []
projects:
- config:
    features.images: "true"
    features.networks: "true"
    features.profiles: "true"
    features.storage.volumes: "true"
  description: Default LXD project
  name: default

